html, body, #mapDiv {
padding:0;
margin:0;
height:100%;
}

#sectors_catered_for_row {
	display:none !important;
}


body.loading * {
	cursor:progress !important;
}
#mapDiv_graphics_layer {
	display:none !important;
}

#minimise {
	background:url(../images/minimise.png);
	position:absolute;top: 9px;left: 7px;opacity: 0.5;
	width:16px;
	height:16px;
	cursor:pointer;
}
#minimise:hover {
	opacity:1;
}	

#menu_button {
	display:none;
	position:absolute;top:21px;left:0px;z-index:10;background:white;border-radius:0 6px 6px 0 ;padding:5px;box-shadow:0 0 2px black;cursor:pointer
}
#menu_button div {
	background:url(../images/menu_button.png);width:32px;height:32px;
}

.SERVICES_holder > div {
	float:left;
	width:50%;
	margin-bottom:9px
}
.SERVICES_holder > div span, .SERVICES_holder > div img {
	vertical-align:bottom;
}
.SERVICES_holder > div span {
	margin-left:6px;
}

.esriPopup {
	z-index:100 !important;
}
.esriPopup .title span {
	font-weight:bold;
	display:block;
	font-size:18px;
	padding-left:2px;
	line-height: 31px;
}
.esriPopup.long_name .title span {
	font-size:12px;
}

.esriPopup .titleButton.close, .esriPopup .titleButton.next, .esriPopup .titleButton.prev {
	top:7px;
}
.esriPopup a {
	color:#9e0059;
	text-decoration:none;
}
.esriPopup a:hover {
	text-decoration:underline;
}
.esriPopup .pointer.top, .esriPopup .pointer.topRight, .esriPopup .pointer.topLeft {
	background:#9e0059;
}

.esriPopup .contentPane {
	max-height:none !important;
}

.maximize {
	display:none;
}
var {
	cursor:pointer;
	font-style:normal;
}
var:hover {
	text-decoration:underline;
}		


.ui-button-text-only .ui-button-text {
	padding:.4em 0em !important;
}
.ui-buttonset {
	margin-right:0 !important;
}

#type_options span {
	font-size:15px;
	font-weight:bold !important;
}
#type_options label {
	box-sizing: border-box;
}
#type_options label {
	width:33.33%;
}


#buttons {
	overflow:hidden;
	margin-top:15px;
	margin-bottom:-5px;
	padding-top:1px;
	padding-bottom:1px;
	display:none;
}
.button {
	padding:8px 20px;
	background: #9E0059;
	color:white;
	font-size:15px;
	font-weight:bold;
	border-radius:4px;
	cursor:pointer;
	float:right;
	margin-left:10px;
	margin-top:-1px;
}
.button.silent {
	background:#666
}
.button.silent:hover {
	background:#999;
}
.button.warning {
	background:darkred;
}
.button.warning:hover {
	background:#a90707;
}

.button:hover {
	background:#E50082;
}
.button:active {
	margin-top:0;
	margin-bottom:-1px;
}


#footer {
	color:#ddd;
}
#footer span {
	margin:-3px 4px 0;
	display:inline-block;
}
#footer var, #footer span {
	vertical-align:middle;
	font-style:normal;
	color:#eee;
}
#share {
	position:absolute;
	top:7px;
	right:7px;
}
#share > div, #share > a {
	cursor:pointer;
	width:23px;
	height:23px;
	float:right;
	margin-left:6px;
	border-radius:2px;
	-webkit-filter:saturate(0);
	-moz-filter:saturate(0);
	filter:saturate(0) ;
	display:block;
}
#share > div:hover, #share > a:hover {
	-webkit-filter:saturate(1.2) brightness(1.1);
	-moz-filter:saturate(1.2) brightness(1.1);
	filter:saturate(1.2) brightness(1.1);
	opacity:1;
	filter:alpha(opacity=100);
}

.titleButton.prev, .titleButton.next {
	margin-right:-25px;
}

.actionList {
	display:none;
}

.esriPopup .sizer {
	width:330px !important;
}

#mapDiv {
position: relative;
}
#info {
background: #fff;
box-shadow: 0 0 5px #888;
left: 1em;
padding: 0.5em;
position: absolute;
top: 1em;
z-index: 40;
}
a img {
	border:0;
}
.esriControlsBR {
display:none;
}

#mapDiv_gc {
	z-index:500;
}
#pins_layer path, #new_pins_layer path { /*, #mapDiv_gc IMG, #mapDiv_gc path {*/
	cursor:pointer;
	stroke-width:39px;
	stroke:white;	
}
#gla_boundary_layer path {
	stroke: #666;
	stroke-width:3px;
}
#mapDiv_gc {
	filter:drop-shadow( 0px 2px 1px #555);
	-webkit-filter:drop-shadow( 0px 2px 1px #555);
}


body.login #mapDiv {
	opacity:0;
}

body.login .dijitDialogUnderlayWrapper {
	display:none !important;
}
body.login {
	background:white url(../images/londontown.jpg) no-repeat;
	background-size:cover;
}
body #mylogin{
	display:none;
}
body.login #mylogin{
	display:block;
}

body.placing_pin #big_add , body.placed_pin #big_add {
	display:none !important;
}

#big_add {
	position:absolute;right:20px;top:95px;width:112px;z-index:1;padding:5px 0;font-size:13px;text-align:center;box-shadow:0 0 2px #555;
}


body.login #basemap_picker, body.login #big_add {
	display:none !important;
}

body #thumbdrop .text div:last-child, body.placed_pin #thumbdrop .text div:first-child {
	display:none;
}

body.placed_pin #thumbdrop .text div:last-child {
	display:block;
}

body #new_point, body #buttons, body.placed_pin #filters {
	display:none;
}
body.placed_pin #new_point, body.placed_pin #buttons {
	display:block;
}


#logout_holder {
	display:none !important;
}
.admin #logout_holder {
	display:inline-block !important;
}
.admin #cancel_holder {
	display:none !important;
}

body.placed_pin #search, body.placed_pin #clear_holder, body.placed_pin #cancel_holder, body.placed_pin #logout_holder  {
	display:none !important;
}
body.placed_pin #panel #content {
	margin-top:0 !important;
}

#fields {
	font-size:14px;
}
#fields > div {
	margin-bottom:15px;
}
#fields .box {
	position:relative;
}
#fields .box var {
	display:none;
	position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;
	cursor:not-allowed;
}
body.editing #fields .box var {
	display:block;
}
#fields input[type=text], #fields select, #fields .box, #mylogin input {
	width:98%;
	padding:7px;
	border:1px solid #bbb;
	box-sizing:border-box;
	font-size:15px;
	color:#888;
	border-radius:3px;
}

#fields span {
	margin-bottom:4px;
	display:block;
	color:#444;
	font-size:15px;
}

#popup {
	cursor:pointer;position:absolute;left:0;top:-10000px;z-index:1000;opacity:0;width:100%;height:100%;background:rgba(0,0,0,0.5)
}
#popup_inner {
	cursor:default !important;pointer-events:none;position:absolute;left:0;width:100%;margin-top:25px;
}
#popup_inner > div {
	cursor:auto;
	pointer-events:all;overflow:hidden;color:#333;font-family:Segoe UI, Arial, Helvetica;background:white;width:605px;padding:25px;position:relative;margin:0 auto;box-shadow:0 0 10px #444;border-radius:10px
}
#popup_img {
	width:605px;
}
#info_holder {
	margin-top:10px
}
#info1 {
	float:left;width:60%;margin-right:5%;
}
#info2 {
	float:right;width:35%;font-size:14px;margin-top:5px;
}

#title {
	font-size:22px;
}
#title.small {
	font-size:17px;
	font-weight:bold;
}

#popup.landscape #popup_img {
	width:340px;
	float:left;
}
#popup.landscape #info_holder {
	margin-top:0;
	float:right;
	width:250px;
}
#popup.landscape #info1, #popup.landscape #info2 {
	float:none;
	width:auto;
	margin-right:0;
	margin-top:0;
}
#popup.landscape #info1 {
	margin-bottom:15px
}

.esriSimpleSliderTL {
	right:20px !important;
	left: auto !important;
}

body {
	font-family:Arial,Helvetica;
}
#thumb {
	position:absolute;
	background:white;padding:8px;border-radius:10px;box-shadow:0 0 6px #555;z-index:200;
	/*width:200px;*/
	display:none;
	white-space:no-wrap;
}
#thumb div {
	margin-bottom:2px;
	font-weight:bold;
	font-size:14px;
	display:block;
	white-space:no-wrap;
}
#thumb i {
	font-size:12px;
}
#thumb img {
	width:100%;
	display:block;
}

.subtitle {
	font-weight:bold;
	margin-bottom:3px;
	display:block;
	font-size:12px;
	color:#222;
	margin-bottom:9px;
	margin-top:25px;
}

.subtitle div, .subtitle span {
	vertical-align:middle;
}
.subtitle div {
	background:url(../images/bullet_go.png);
	width:16px;
	height:16px;
	display:inline-block;
	margin-top:-2px;
}
#filters select {
	width:100%;
	font-size:14px;
	padding:3px;
}
#filters select.selected {
	font-weight:bold;
	color:#9E0059;
}
#search {
	min-height:35px;
}
#search_input {
	width:218px !important;
}


.findme {
	position:absolute;
	top:5px;
	right:49px;
	z-index:10;
	opacity:0.4;
	filter:alpha(opacity=40);
	cursor:pointer;
}
#search .hasValue .findme {
	display:none !important;
}
.findme:active {
	margin-top:1px;
}
.findme .zoomLocateButton {
	background:url(../images/locate.png);
	width:24px;
	height:24px;
}
.findme span {
	display:none;
}



.arcgisSearch .searchGroup .searchInput, .arcgisSearch .searchBtn {
	border-color:#999 !important;
}
.esriControlsBR {
	display: block !important;
	opacity:0.2;
	filter:alpha(opacity=20);
}
.esriControlsBR:hover {
	opacity:1;
	filter:alpha(opacity=100);
}
.esriPopupWrapper v {
	color:#888;
}
#clusters_layer circle, #clusters_layer text {
	cursor:pointer;
}
#search {
	background:url(../images/dummy_locator.jpg) no-repeat;
}

#facebook {
	background:#5A6D92 url(../images/facebook.png) center center no-repeat;
}
#twitter {
	background:#4D768F url(../images/twitter.png) center center no-repeat;
}
#email {
	background:#A09675 url(../images/email2.png) center center no-repeat;
}

#price_text.highlight, #price_text2.highlight {
	font-weight:bold;
	color:#9e0059;
}

.ui-slider{
	margin:10px 8px 5px 0px !important;
}

.ui-slider.atZero {
	margin-left:8px !important;
}


#panel #content {
	overflow-y:auto;overflow-x:hidden;
	margin-right:-5px;
	padding-right:5px;
	margin-top:16px;
}

.esriLegendLayer > tbody > tr {
	cursor:pointer;
}

.max_callout {
	margin:18px 0;
	display:block;
}
.max_callout:last-child {
	margin-bottom:0 !important;
}
#mylegend {
	font-size:14px;
	overflow:hidden;
}
#mylegend span, #mylegend img {
	vertical-align:middle;
	cursor:pointer;
}
#mylegend img {
	width:18px;
	height:21px;
	padding-right:10px;
}

#panel select.highlight {
	color:#9E0059;
	font-weight:bold;
}

#select_all {
	background:url(/common/img/select_all.gif) no-repeat;
	width:16px;
	height:16px;
	cursor:pointer;
	display:inline-block;
}
#select_all.selected {
	background-position:bottom left;
}

#bonus_filter_holder .cat {
	display:none;
}
#bonus_filter_holder label {
	display:block;
	cursor:pointer;
	float:left;
	width:50%;
}
#bonus_filter_holder label:hover, #fields  label:hover {
	color:#666;
	font-weight:bold;
}
#bonus_filter_holder input:checked + span {
	color:#9e0059;
	font-weight:bold;
}
#bonus_filter_holder input, #bonus_filter_holder span {
	vertical-align:middle;
}

#legendDiv {
	font-size:14px;margin:9px -50px -8px -6px;
}
#legendDiv table {
	width:100%;
}
#legendDiv tr, #legendDiv td, #legendDiv table,  #legendDiv tbody, #legendDiv td div {
	display:inline-block !important;
}
#legendDiv .esriLegendService > table:first-child {
	display:none !important;
}

#legendDiv .esriLegendMsg {
	visibility:hidden;
}
#legendDiv tr td:last-child {
	margin-right:22px;
	margin-left:-1px;
}
#legendDiv .esriLegendServiceLabel, #legendDiv .esriLegendLayerLabel {
	display:none !important;
}
#legendDiv .esriLegendService {
	padding-bottom:0 !important;
}

path.animate, image.animate { 
  transition: 50ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 50ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition: 50ms;
  -moz-transition-timing-function: ease-in-out;
}




body .admin {
	display:none;
}

body.admin .admin {
	display:inline-block;
}




#type_options {
	display:none;
}
body.admin #type_options {
	display:block;
	margin-bottom:20px
}
body.admin #type_options label {
	width:50%;
}


#buttons .new_verify, body.verifying #buttons .new {
	display:none;
}

body.verifying #buttons .new_verify {
	display:block;
}
body.verifying #delete_button {
	display:none;
}
body.verifying.admin #delete_button {
	display:block;
}


#edit_index {
	display:none;
	font-size:14px;
}
#filters.new_mode #edit_index{
	display:block;
}
#filters.new_mode #bonus_filter_holder{
	display:none !important;
}

body #buttons .editing, body.editing #buttons .new_verify {
	display:none;
}
body.editing #buttons .editing {
	display:block;
}


#new_points > div, #edited_points > div  {
	padding:3px;
	cursor:pointer;
	border-radius:4px;
	border:1px solid transparent;
}
#new_points > div:hover, #edited_points > div:hover {
	background:#eee;
	border:1px dashed #aaa;
}



#footer #clear_holder, #footer.filters #share {
	display:none;
}
#footer.filters #clear_holder {
	display:inline-block;
}




body #cancel_add_holder, body.placing_pin #content, body.placing_pin #standard, body.placing_pin #share, body.placed_pin #standard, body.placed_pin #share {
	display:none;
}
body.placing_pin #cancel_add_holder{
	display:block;
	text-align:center;margin-top:25px;font-weight:bold;
}



body .loader {
	padding:30px 0;
	text-align:center;
	display:none;
}
body .loader div {
	display:inline-block;
	background:url(https://www.london.gov.uk/sites/all/themes/gla/images/svg/throbber.svg);
	width:50px;height:50px;
	-webkit-animation: spin .8s linear infinite;
	animation: spin .8s linear infinite;
}

@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

body.bigloading .loader {
	display:block;
}

body.bigloading #search, body.bigloading #content, body.bigloading #buttons, body.bigloading #cancel_add_holder {
	display:none !important;
}

#data_prompt, #edit_prompt {
	font-weight:bold;margin-bottom:18px;margin-top:5px
	color:#444;
	font-size:17px
}
#edit_prompt {
	display:none;
	margin-bottom:25px;
}
body.verifying #data_prompt {
	display:none;
}
body.editing #edit_prompt {
	display:block;
}

.bingLogo-lg {
	display:none !important;
}

#fields .admindata, .admindataprompt, #fields.showadmin .admindataprompt {
	display:none;
}
body.admin .admindataprompt, body.admin #fields.showadmin .admindata {
	display:block;
}

.admindataprompt {
	cursor:pointer;text-align:center;border-radius:4px;
	border:1px solid #888;background:url(../images/admin_warning3.jpg);
	color:#444;
	font-weight:bold;padding:7px;
	text-shadow:0 1px 1px #f4e9f9;
	box-sizing: border-box;
	width:98%;
	font-size:14px;
}

.help {
	display:inline-block;
	cursor:help;
	background:url(../images/help2.png);
	width:16px;height:16px;vertical-align:middle;
	opacity:0.5;
	margin-left:5px;
}

.esriPopup {
	font-family:Arial, Verdana, Helvetica !important;
}

.esriPopup .button {
	clear:left;
	margin-top:10px;
	margin-bottom:-5px;
	padding: 20px 6px 0 0;
	background: transparent;
	color: #9e0059;
	font-size:12px;
}
.esriPopup .button:hover {
	text-decoration:underline;
}

#services_holder, #sector_holder {
	/*max-height:150px;*/
	overflow-y:auto;padding:4px;border:1px solid #a9a9a9;width:98%;box-sizing:border-box
}
#services_holder em, #services_holder input, #sector_holder em, #sector_holder input {
	vertical-align:middle;
	font-style:normal;
}
#services_holder label, #sector_holder label {
	display:block;
	cursor:pointer;
}

body.editing .hide {
	display:none !important;
}

body #fields > div > div.prompter {
	display:none;
	margin-top:5px;
}
body #fields > div > div.prompter div {
	color:#888;margin-top:5px;margin-bottom:5px;font-weight:normal
}
body.editing #fields > div > div.prompter {
	display:block;
}
body.editing #fields > div > span {
	font-weight:bold;
}
body.editing #fields > div > div.prompter > select {
	background:#d01313;
	color:white;
	outline:none;
}
body.editing #fields > div > div.prompter > select.valid {
	background:#27ce27;
}

body.editing #new_point input[type=text], body.editing #new_point select {
	display:none;
}
body.editing #new_point .prompter select {
	display:block;
}

/*
body.verifying #site_type_row {
	display:none !important;
}
*/

body #geometry_row, #geometry_row .prompter > div {
	display:none;
}
body.editing #geometry_row {
	display:block;
}

.esriSignInDialog {
	display:none !important;
}
#mylogin, #mylogin * {
	cursor:default !important;
}
#mylogin input {
	cursor:text !important;
}
#mylogin .button {
	float:none;
	display:inline-block;
	margin:0;
	cursor:pointer !important;
}


.ui-widget-content, .ui-state-default {
	border:1px solid #bbb;
}

.ui-slider-handle{
	border: 1px solid rgb(210, 61, 227) !important;
	background:#9e0059 !important;
}


.icon_holder span {
	margin-right:4px;
}
.icon_holder, .icon_holder a, .icon_holder span, .icon_holder img  {
	vertical-align:middle;
}
.contact {
	overflow:hidden;
	margin-top:20px;
}
.contact > div {
	display:inline;
	margin-right:20px;
}
.standard_fields > div {
	margin-top: 20px;
}
.standard_fields em {
	font-style:normal;
	color:#555;
}
.SERVICES_holder img {
	cursor:help;
}