<?xml version="1.0"?>
<configuration>
   <system.webServer>
      <defaultDocument enabled="true">    <!-- this line enables default documents for a directory -->
         <files>      
            <clear/>     <!-- removes the existing default document list -->                
            <add value="index.html"/>     <!-- foo.htm is now the default document  -->                
            <add value="index.aspx"/>     <!-- 2nd default document in search order -->                
			<add value="index.asp"/>     <!-- 2nd default document in search order -->                
         </files>
      </defaultDocument>
      <modules runAllManagedModulesForAllRequests="true"/>
   </system.webServer>
    <system.web>
        <customErrors mode="Off"/>
    </system.web>
	
</configuration>